/*
Place your custom CSS here
*/

.referenceSelectorDynamicLabel .emptyOptionSelected {
    font-style: italic;
}
.referenceSelectorDynamicLabel .emptyOptionSelected option{
    font-style: normal;
}
.referenceSelectorDynamicLabel .emptyOption {
    font-style: italic;
}
